body{
margin: 0;
background-color: #eaf6f6;
}


/*img:hover{
    background-color:gold;
} */

.top_container{
  background-color: azure;
}

.second_container{
  background-color: antiquewhite;
  padding: 20px;
}

.third_container{
  background-color: beige;
  padding: 20px;
  margin: 10px;
}

hr{
border-style: none;
border-top-style: dotted;
border-color:grey;
border-width: 5px;
width: 5%;
}
h1{
margin-top: 0;
color: #66bfbf;
}
h3{
color: #66bfbf;
}
h2{
color: #66bfbf;
}
.photo{
background-color: none;
}
#Name{
color: #66bfbf;
}
.bold{
  font-weight: bold;
  text-decoration: underline;
}